.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid #000000;
    background-color: #e0e0e0;
    .headers{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
        background-color: #c0c0c0;
    }
    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        border: 1px 0 1px 0 solid #000000;
        padding: 10px;
    }
}