$grey-color: rgb(105, 104, 104);
$green-color: #009d71;

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  .headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.767);
    color: #fff;
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1d30ad;
    color: #fff;
    backdrop-filter: blur(20px);
    align-items: center;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.171);
    padding: 10px;

    p {
      font-weight: 600;
    }
    button {
      background-color: transparent;
      border: none;
      width: 25px;
      height: 100%;
      .config-icon {
        cursor: pointer;
        width: 100%;
        height: 100%;
        color: $grey-color;
      }
    }

    .options-user {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      width: 20%;
      .options-icon {
        position: relative;
        cursor: pointer;
        bottom: 3px;
        font-weight: bold;
        color: $green-color;
        font-size: 30px;
        width: 50%;
        height: 100%;
      }
    }
  }
}
