#main-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .main {
    margin: 120px 0 50px 0;
    width: 100%;
    // display: flex;
    align-self: center;
  }

  .whatsapp-ctn {
    background-color: black;
  }

  .whatsapp-fixed {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 13px;
    position: fixed;
    padding: 1px;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 1000;
    background: white;
    transition: 0.3s;
  }

  .whatsapp-fixed:hover {
    background-color: #1d30ad;
  }

  #test {
    color: red;
  }
}
