#dashboard-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .main {
    margin: 120px 0 50px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    h2{ 
      display: inline-block;
      min-width: 60%;
      padding: 5px 10px;
      border-radius: 5px;
      border: 2px solid #1d30ad;
      margin: 0 auto;
      color: #1d30ad;
      font-weight: bold;
      font-size: 1.3rem;
      background-color: #fff;
    }
    .select-btn {
      margin: 5px;
      padding: 5px 10px;
      background-color: #1d30ad;
      border: 1px solid white;
      color: #fff;
    }
    .selected{
      margin: 5px;
      padding: 5px 10px;
      background-color: #fff;
      border: 1px solid #1d30ad;
      font-weight: bold;
      color: #1d30ad;

    }
  }

  .whatsapp-fixed {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 13px;
    position: fixed;
    padding: 1px;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 1000;
    background: white;
    transition: 0.3s;
  }

  .whatsapp-fixed:hover {
    background-color: #1d30ad;
  }

}
