// p {
//   text-align: start;
//   padding: 20px;
// }

.about-ctn {
  position: relative;
  bottom: 160px;
  background-color: rgba(0, 0, 0, 0.377);
  padding: 20px;
  padding-bottom: 30px;
  text-align: start;
  border-radius: 0 50px 0 50px;
  h2 {
    color: #fff;
    font-size: 2rem;
    margin: 0 0 10px 0;
  }
  b {
    color: #1d30ad;
  }
  p {
    font-weight: bold;
    color: #fff;
  }
}
.about-contact {
  position: relative;
  background-color: rgba(0, 0, 0, 0.377);
  border-radius: 10px 50px 10px 50px;
  bottom: 100px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  -webkit-border-radius: 10px 50px 10px 50px;
  -moz-border-radius: 10px 50px 10px 50px;
  -ms-border-radius: 10px 50px 10px 50px;
  -o-border-radius: 10px 50px 10px 50px;
  p {
    font-size: 1.8em;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  div {
    display: flex;
    width: 40%;
    justify-content: space-evenly;
    .icon {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
  }
}
