$black-color: #1d1d1d;
$white-color: #f2f2f2;
$white-color-secondary: #fff;
$blue-color: #0f036d;
$green-color: #009d71;
$wc: #e4e4e4;
.contact {
  margin: 15px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  width: 90%;
  align-items: center;
    .contact-title {
      margin: 0 0 10px 0;
      align-self: center;
      font-size: 2em;
      color: #fff;
      color: #1d30ad;
      font-weight: bold;
      color: #fff;
      text-shadow: 2px 2px 4px #1d30ad;
    }
  .contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 95%;
    min-height: 90% !important;


    color: $black-color;
    // backdrop-filter: blur(10px);
    justify-content: center;
    padding: 8px;
    .contact-ctn {
      height: 20% !important;
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 15px;
      background-color: #fff;
      width: 100%;
      padding: 10px 7px 20px 7px;
      background-blend-mode: overlay, overlay, overlay, normal;
      border: 2px solid #909192;
      box-shadow: rgba(14, 30, 37, 0.12) 0px 8px 19px 0px,
        rgba(14, 30, 37, 0.32) 0px 8px 16px 0px;
      box-shadow: 0px 0px 10px 0px #000000;
background-image: repeating-linear-gradient(90deg, hsla(298,16%,68%,0.06) 0px, hsla(298,16%,68%,0.06) 1px,transparent 1px, transparent 21px,hsla(298,16%,68%,0.06) 21px, hsla(298,16%,68%,0.06) 22px,transparent 22px, transparent 72px),repeating-linear-gradient(0deg, hsla(298,16%,68%,0.06) 0px, hsla(298,16%,68%,0.06) 1px,transparent 1px, transparent 21px,hsla(298,16%,68%,0.06) 21px, hsla(298,16%,68%,0.06) 22px,transparent 22px, transparent 72px),repeating-linear-gradient(135deg, hsla(298,16%,68%,0.06) 0px, hsla(298,16%,68%,0.06) 1px,transparent 1px, transparent 21px,hsla(298,16%,68%,0.06) 21px, hsla(298,16%,68%,0.06) 22px,transparent 22px, transparent 72px),linear-gradient(90deg, hsl(275,3%,97%),hsl(275,3%,97%));
      .client-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        height: 14%;
        align-items: flex-start;
        .client-label {
          position: relative;
          padding: 5px 0;
          top: 15px;
          align-self: flex-start;
          left: 5px;
          padding: 0 7px;
          margin: 0 0 3px 10px;
          background-color: #fdfdfd;
          border-radius: 8px;
          font-weight: 650;
          color: #1d1d1dcb;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          -ms-border-radius: 8px;
          -o-border-radius: 8px;
        }
        .client-select {
          margin-top: 5px;
          width: 90% !important;
          height: 35px;
          background-color: transparent;
          padding: 5px 25px;
          color: #1d1d1d;
          animation: inputNotFocus 0.3s forwards;
          border: 2px solid #909192;
          -webkit-animation: inputNotFocus 0.3s forwards;
        }
      }

      .name-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
        height: 14%;
        align-items: flex-start;
        margin: 5px 0;
        .name-label {
          position: relative;
          padding: 5px 0;
          top: 15px;
          align-self: flex-start;
          left: 5px;
          padding: 0 7px;
          margin: 0 0 5px 10px;
          background-color: #fdfdfd;
          border-radius: 8px;
          font-weight: 650;
          color: #1d1d1dcb;
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          -ms-border-radius: 8px;
          -o-border-radius: 8px;
        }
        .name-input {
          width: 90% !important;
          height: 35px;
          background-color: #fdfdfd;
          padding: 5px 25px;
          caret-color: #0b57d0;
          color: #1d1d1d;
          animation: inputNotFocus 0.3s forwards;
          border: none;
          border: 2px solid #909192;
          -webkit-animation: inputNotFocus 0.3s forwards;
        }
        .name-input::placeholder {
          color: #1d1d1d6e;
        }

        .name-input:focus {
          border: 2px solid $green-color;
          outline: $green-color;
          animation: inputFocus 0.3s forwards;
          -webkit-animation: inputFocus 0.3s forwards;
        }
      }

      .email-container {
        @extend .name-container;
        .email-label {
          @extend .name-label;
        }
        .email-input {
          @extend .name-input;
        }
        .email-input::placeholder {
          color: #1d1d1d6e;
        }

        .email-input:focus {
          border: 2px solid $green-color;
          outline: $green-color;
          animation: inputFocus 0.3s forwards;
          -webkit-animation: inputFocus 0.3s forwards;
        }
      }
      .phone-container {
        @extend .name-container;
        .phone-label {
          @extend .name-label;
        }
        .phone-input {
          @extend .name-input;
        }
      }
      .location-container {
        @extend .name-container;
        label {
          @extend .name-label;
          margin-left: 0;
          padding-left: 0;
        }
        .location-select {
          margin-top: 5px;
          width: 100% !important;
          height: 35px;
          background-color: transparent;
          padding: 5px 25px;
          color: #1d1d1d;
          animation: inputNotFocus 0.3s forwards;
          border: 2px solid #909192;
          -webkit-animation: inputNotFocus 0.3s forwards;
        }
      }
      .service-container {
        @extend .location-container;
        label {
          @extend .name-label;
        }
        .service-select {
          @extend .location-select;
        }
      }

      .date-container {
        margin: 30px 0 0 0;
        @extend .name-container;
        .date-label {
          @extend .name-label;
          margin: 0 0 10px 0;
          padding: 0;
          top: 0;
        }
        div {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: 100%;

          .date-input {
            @extend .name-input;
            background: transparent;
            margin-bottom: 10px;
          }
        }
      }

      .message-container {
        @extend .name-container;
        max-height: 250px;
        .message-label {
          @extend .name-label;
          background-color: transparent;
          top: 5px;
        }
        .message-textarea {
          width: 100%;
          height: 100%;
          background-color: transparent;
          border-radius: 12px;
          padding: 10px 15px;
          border: none;
          border: 1px solid #1c1c1c;
          color: $black-color;
          animation: textNotFocus 0.3s forwards;
          -webkit-border-radius: 12px;
          -moz-border-radius: 12px;
          -ms-border-radius: 12px;
          -o-border-radius: 12px;
          -webkit-animation: textNotFocus 0.3s forwards;
        }
        .message-textarea:focus {
          border: 2px solid $green-color;
          outline: $green-color;
          animation: textFocus 0.3s forwards;
          -webkit-animation: textFocus 0.3s forwards;
          animation: textFocus 0.3s forwards;
        }
      }
    }
    .submit {
      width: 40%;
      margin: 25px 0;
      padding: 10px 0;
      background-color: #0b57d0;
      border: 2px solid $wc;
      border-radius: 8px;
      font-weight: bold;
      cursor: pointer;
      color: $wc;
      transition: all 0.2s;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
    }
    .submit:hover {
      background-color: #063d97;
    }
  }

  .error {
    color: red;
    font-weight: bold;
  }

  @keyframes inputFocus {
    0% {
      width: 70%;
      height: 35px;
    }
    100% {
      width: calc(70% + 6px);
      height: calc(35px + 5px);
    }
  }

  @keyframes inputNotFocus {
    0% {
      width: calc(70% + 4px);
      height: calc(35px + 3px);
    }
    100% {
      width: 70%;
      height: 35px;
    }
  }
  @keyframes textFocus {
    0% {
      width: 100%;
      height: 140px;
    }
    100% {
      width: calc(100% + 6px);
      height: calc(140px + 5px);
    }
  }

  @keyframes textNotFocus {
    0% {
      width: calc(100% + 4px);
      height: calc(140px + 3px);
    }
    100% {
      width: 100%;
      height: 140px;
    }
  }
}

@media screen and (min-width: 530px) {
  .contact-form {
    width: 75% !important;
  }
}
@media screen and (min-width: 748px) {
  .contact {
    margin: 0;
    width: 100%;
    .contact-form {
      width: 100% !important;
      gap: 10px;
      flex-wrap: wrap;
      display: flex;
      flex-direction: row;
      .contact-ctn{
      width: 45%;
    }
    }
  }
}
