.create-product {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 350px;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
